html {
  background-color: #f6bec9;
  font-family: sans-serif;
}

body {
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h1, h2, h3, h4 {
  text-align: center;
  color: rgb(236, 12, 165);
}

p {
  text-align: center;
    color: rgb(95, 4, 129)
}
