
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Final Project</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>
		<h1>Music by Mood</h1>
        <p> Welcome to the Music by Mood blog!<br> As you know, music can tell a story just as easily as words. <br>
            This site is designed to give you a peek into the music of my soul.<br> 
            Whether I'm feeling happy, sad, energetic, or relaxed, there is always a song or soundtrack to reflect these emotions.<br> 
            Enjoy this snapshot into my soul through the music I love!<br>
        </p>
        <p> I will be adding more content soon, so please check back for updates!</p>
	</body>
</html>
