---
const pageTitle = "Music by Mood";
import '/src/styles/mainstyle.css';
import '/src/styles/nav.css';
import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';
import '/src/scripts/nav.js';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <!--- The title of the page is set to "Music by Mood" --->
        <style> h1 {
			    text-align: center; 
                margin-top: 100px;
			    margin-bottom: 1px;
			    font-family: sans-serif;
			    padding: 10px;}
                
                p {
                    text-align: center; 
                    margin-top: 1px;
				    margin-bottom: 20px; } </style>
	</head>
	<body>
        <!-- this contains a Nav bar component --> 
        <Header />
		<h1>{pageTitle}</h1>
        <div>
        <p> Welcome to the Music by Mood blog!<br> As you know, music can tell a story just as easily as words. <br>
            This site is designed to give you a peek into the music of my soul.<br> 
            Whether I'm feeling happy, sad, energetic, or relaxed, there is always a song or soundtrack to reflect these emotions.<br></p> 
        </p></div>
        <div>
        <p>Enjoy this snapshot into my soul through the music I love!<br> I will be adding more content soon, so please check back for updates!</p></div>
        <Footer />
	</body>
</html>
