---
const pageTitle = "Weather Harmonies";
import '/src/styles/nav.css';
import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- The title of the page is set to "Weather Harmonies" -->
		<style>
			body {
				background-image: url('/src/images/background_image.jpg');
				background=repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				color: white;
			}
			h1, h2 ,p{
				text-align: center;
				color: #f0f0f0;
			}
			h1 {
				font-size: 5.5em;
				margin-top: 100px;
				margin-bottom: 1px;
				font-family: sans-serif;
				padding: 10px;
				font-style: italic;
				text-decoration: underline;
				text-decoration-color: #d65889ff;
			}
			h2 {
				font-size: 3.5em;
				margin-top: 1px;
				margin-bottom: 10px;
				font-family: sans-serif;
			}
			p {font-size: 1.5em;
				margin-top: 1px;
				margin-bottom: 10px;
				font-family: sans-serif;}
		  
			</style>
	
	</head>
	<body>
		<!-- this contains a Nav bar component --> 
 <Header />
		<h1>{pageTitle}</h1>
		<h2>Welcome to Weather Harmonies  </h2>
		<p> A weather dashboard with a little added melody</p>
		 <script>
		
		 </script>
	</body>
</html>
