---
const pageTitle = "Music by Mood";
import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!--- The title of the page is set to "Music by Mood" --->
		<style>
			body {
				background-image: url('/src/images/background_image.jpg');
				background=repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				color: white;
			}
			h1, h2 {
				text-align: center;
				color: #f0f0f0;
			}
			h1 {
				font-size: 5.5em;
				margin-top: 100px;
				margin-bottom: 1px;
				font-family: sans-serif;
				padding: 10px;
				font-style: italic;
				text-decoration: underline;
				text-decoration-color: #d65889ff;
			}
			h2 {
				font-size: 3.5em;
				margin-top: 1px;
				margin-bottom: 450px;
				font-family: sans-serif;
			}
		    a:link {
				color: #f688b2ff;
				text-decoration: underline;
			}
			a:visited {
				color: #d1145dff;
				text-decoration: underline;
			}
			a:hover {
				color: #3cd3e7ff;
				text-decoration: underline;
			}
			a:active {
				color: #f0f0f0ff;
				text-decoration: underline;
			}
			
			</style>
	
	</head>
	<body>
		<!-- this contains a Nav bar component --> 
 <Header />
		<h1>{pageTitle}</h1>
		<h2> Welcome to the Music of my Soul</h2>
		 <Footer />
		 <script>
			document.querySelector('.hamburger').addEventListener('click', () => {
				document.querySelector('.nav-links')?.classList.toggle('expanded');

			});
		 </script>
	</body>
</html>
