---
const pageTitle = "Sunny Days";
import '/src/styles/mainstyle.css';
import '/src/styles/nav.css';
import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
    <html>
<head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>{pageTitle}</title
     <!-- The title of the page is set to "Sunny Days" -->
</head>
<body>
    <!-- this contains a Nav bar component  -->
    <Header />
    <h1> {pageTitle} </h1>
    <img src="/Final-Project---TEST/images/test_image-123.jpeg" alt="" srcset="">
    <p> You ever have those days where you can't help but smile? <br>
        The sun is shining, the birds are singing, and everything just feels right. <br>
        It's the kind of day that makes you want to turn up the music and just vibe. No worries, no stress, just happiness. <br>
        Here are 3 of my favourite sunny day songs that I can listen to on repeat: </p>
        <!-- I am adding an unordered list to showcase 3 of my favourite sunny day songs -->
        <ul>
            <li> 'Meant to be' by Bebe Rexha and Florida Georgia Line</li>
            <li> 'Music Is Your Love' by Lay </li>
            <li> 'Classic' by MKTO </li>
           </ul>
      <div class="container-fluid">

        <!-- I will now go into each song listed in more detail, provide a link  -->

         <h2> 'Meant to be' by Bebe Rexha and Florida Georgia Line </h2>  
         <p> This song is all about the idea that everything happens for a reason. <br>
                It's a reminder to trust the journey and know that good things are coming your way. <br>
                The upbeat tempo and catchy chorus make it impossible not to smile when you hear it.<br>
                <a href="https://www.youtube.com/watch?v=zDo0H8Fm7d0"> Listen to 'Meant to be' on YouTube</a> </p>
        </div> </p> 
          
        </div>
      <div class="container-fluid">

             <h3> 'Music Is Your Love' by Lay </h3>       
            <p> This song is all about the power of music to lift your spirits and make you feel alive. <br>
                The infectious beat and Lay's smooth vocals will have you dancing in no time. <br>
                It's a reminder that music is a universal language that can bring people together and create joy. <br>
             <a href="https://www.youtube.com/watch?v=wTFV24L4HYo"> Listen to 'Music Is Your Love' on YouTube</a></p>
           
        </div>
    <div class="container-fluid">

           <h4> 'Classic' by MKTO </h4>
           <p> This song is a throwback to the classic love songs of the past. <br>
                It's a reminder that true love never goes out of style and that sometimes the best things in life are the simplest. <br>
                The catchy chorus and upbeat tempo will have you singing along in no time.<br> <a href="https://www.youtube.com/watch?v=4Ba_qTPA4Ds"> Listen to 'Classic' on YouTube</a></p>
        
        </div>
        
<ul> 

     <Footer />   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
    
</html>