---
const pageTitle = "Weather";
import '/src/styles/mainstyle.css';
import '/src/styles/nav.css';
import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <!--- The title of the page is set to "Weather" --->
        <style> h1 {
			    text-align: center; 
                margin-top: 100px;
			    margin-bottom: 1px;
			    font-family: sans-serif;
			    padding: 10px;}
                
                p {
                    text-align: center; 
                    margin-top: 1px;
				    margin-bottom: 20px; } 
                   
                    div {text-align: center; 
                    margin-top: 1px;
				    margin-bottom: 20px;}</style>
	</head>
	<body>
        <!-- this contains a Nav bar component --> 
        <Header />
		<h1>{pageTitle}</h1>
        <div>
        <p> Welcome to Weather Harmonies, a weather dashboard with a little added melody.<br> I'm not sure if you're like me, but when the weather is any type of way, a soundtrack usually starts playing in my head.<br>
            This site is designed to allow you to see what the weather is doing and also give you a song or 2 that matches.<br> 
            Whether it's raining, storming or the sun is shining, there is always a song or soundtrack that's related.<br></p> 
        </p></div>
        <div>
        <p>Let the weather move you to music.<br></p></div>

        <div id="search">
            <form action="/https://api.weatherapi.com/v1/current.json?q+City&Lang=EN&keykey=a5c53cf6e1f646139d7172520250909" method="get">
                <input type="text" name="city" placeholder="Enter city name" required>
                <button type="submit">Get Weather</button>
            </form>
        <Footer />
<script>
  // Example: Fetch weather data using JavaScript
  /*
  fetch('https://api.weatherapi.com/v1/current.json?q=London&lang=EN&key=a5c53cf6e1f646139d7172520250909 )
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error));
  */
</script>
	</body>
</html>
