---
const platform = "github";
const username = "LeijahMarieXOXO";
import '/src/styles/footer.css';
---
<footer>
    <p> Learn more about me on <a href="https://github.com/LeijahMarieXOXO">Github </a></p>
   <p> Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a></p>
    </footer>