---
const platform = "github";
const username = "LeijahMarieXOXO";
import '/src/styles/footer.css';
---
<footer>
    <p> Learn more about me on <a href="https://github.com/LeijahMarieXOXO">Github </a></p>
    </footer>