---

---
<!--This was my attempt at creating a hamburger menu for mobile view, but I was unable to get it to work properly. I will revisit this in the future.-->
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
