---

---
<nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Final-Project---Music-by-Mood/">Weather Harmonies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/Final-Project---Music-by-Mood/weatherdashboard">Weather</a>
        <a class="nav-link" href="/Final-Project---Music-by-Mood/sunnydays">Sunny Days</a>
        <a class="nav-link" href="/Final-Project---Music-by-Mood/rainydays">Rainy Days</a>
        <a class="nav-link" href="/Final-Project---Music-by-Mood/cloudydays">Cloudy Days</a>
        </div>
    </div>
  </div>
</nav>
    




      
  
