---

---
<nav>
    <div class="nav-links">
      <a href="Final-Project---Music-by-Mood/index">Weather Harmonies</a>
        <a href="Final-Project---Music-by-Mood/weatherdashboard">Weather</a>
        <a href="Final-Project---Music-by-Mood/sunnydays">Sunny Days</a>
        <a href="Final-Project---Music-by-Mood/rainydays">Rainy Days</a>
       <a href="Final-Project---Music-by-Mood/cloudydays">Cloudy Days</a>
    </div>
</nav>