---

---
<nav>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/feelinggood">Feeling Good</a>
        <a href="/comingsoon">Coming Soon</a>
    </div>
</nav>