---

---
<nav>
    <div class="nav-links">
        <a href="/index">Home</a>
        <a href="/weatherdashboard">Weather Dashboard</a>
        <a href="/sunnydays">Sunny Days</a>
        <a href="/rainydays">Rainy Days</a>
        <a href="/cloudydays">Cloudy Days</a>
    </div>
</nav>